.sideFilterBox {
    position: fixed;
    top: 0;
    right: -100%;
    max-width: 700px;
    width: 100%;
    height: 100vh;
    background: var(--white);
    border-left: 1px solid #DDDDDD;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    transition: 0.4s ease-in-out;
    z-index: 1000;
}

.sideFilterBox .customDropdownWrap {
    padding: 0;
}

.dropDrop {
    width: max-content;
    gap: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--black3);
    justify-content: space-between;
    width: 100%;
    padding: 14px;
}

.sideFilterBoxWrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s ease-in-out;
}

.sideFilterBoxWrapper::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);

    opacity: 0;
    visibility: hidden;
    z-index: 999;
    transition: 0.4s ease-in-out;
}

.sideFilterBoxWrapper.active .sideFilterBox {
    right: 0;
    transition: 0.4s ease-in-out;
}

.sideFilterBoxWrapper.active::before {
    opacity: 1;
    visibility: visible;
    transition: 0.4s ease-in-out;
}

.sideFilterBoxWrapper.active {
    visibility: visible;
    transition: 0.4s ease-in-out;
    opacity: 1;
}

.sideFilterBox .popupHeader {
    padding: 20px;
}

.sideFilterBox .popupHeading {
    font-size: 18px;
    font-weight: 600;
}

.sideMenuBody {
    /* height: 100%; */
    padding: 20px;
}

.filterDrop:not(:first-child) {
    margin-top: 20px;
}

.filterDrop {
    margin-left: 0;
}

.filterDrop .dropDrop {
    padding: 12px;
    background: var(--grey3);
    width: 100%;
    border-radius: 6px;
    justify-content: space-between;
}

.filterDrop .dropMenuWindow {
    top: 100%;
    box-shadow: none;
    border-radius: 0px 0px 6px 6px;
    background: var(--grey3);
    padding: 0;
}

.filterDrop label {
    background: transparent;
    margin-bottom: 8px;
}

.filterDrop .dropMenuWindow label {
    background: transparent;
    padding: 12px;
    margin-bottom: 0;
}

.filterDrop .dropMenuWindow label:hover {
    background: var(--grey1);
}

.sideMenuFooter {
    padding: 10px 20px;
    gap: 10px;
    justify-content: flex-end;
    background: var(--grey4);
    border-top: 1px solid var(--grey2);
}

.sideFilterBox .sideMenuBody {
    height: calc(100% - 130px);
    overflow: auto;
}

.sideFilterBox .button {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 12px;
}

.asyncMailSlider {
    justify-content: space-between;
}

.textGreen {
    color: var(--green);
}

.createReportFormWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.formCreate {
    width: 95%;
    margin-bottom: 20px;
}

.errorMessageCreatePopUp {
    color: red;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
}

.creatingReportMessage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.customDropDownHeadings {
    font-size: 14px;
    margin: 3px 2px 3px 4px;
    color: rgb(0, 121, 213);
}

.showEmailTemplate {
    border: 1px solid rgb(161, 161, 161);
    border-radius: 12px;
}